*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 


/* navbar css start */
nav{
    background-color: blueviolet;
    height: 80px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
}
.menu-active , nav ul li a:hover {
    background-color: yellow;
    color: black;
}
.checkbtn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 950px){
    .logo{
        font-size: 25px;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        background-color: brown;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
    #check:checked ~ ul{
        left: 0;
      }

}
/* media quaries end  */

/* nav bar cs end */

/* slider  start */

#home{
    text-align: center;
    padding-top: 20px;
}
.slider{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(images/slider/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: changeslider 20s linear infinite;
    display: grid;
}
.slider-content{
    width: 60%;
    margin: auto;
    text-align: center;
}
.slider-title{
    font-size: xx-large;
    color: blueviolet;
}
.slider-content a{
    font-size: 20px;
    color: white;
}

@keyframes changeslider {
    0%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(images/slider/2.jpg);
    }
    25%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.733)), url(images/slider/3.jpg);
    }
    50%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(images/slider/1.jpg);
    }
    75%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(images/slider/2.jpg);
    }
    100%{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(images/slider/3.jpg);
    }
}

.slider-btn-container{
    display: flex;
    justify-content: center;
}

.slider-btn{
    font-weight: bold;
    margin: 20px 10px;
    width: fit-content;
    font-size: 20px;
    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slider-btn:hover{
    background-color: transparent;
    border: 2px solid blueviolet;
    cursor: pointer;
}
/* slider end  */

#welcome{
    text-align: center;
    padding-top: 20px;
}
.title{
   font-size: 50px;
   font-weight: bolder;
}

.welcome-msg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.welcome-msg a{
    display: grid;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: lighter;
}
.welcome-umb{
    font-size: 120px;
    color: blueviolet;

}
.welcome-umb:hover{
    color: yellow;
}
.table-container{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

.wel-table-box{
    width: 300px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-between;
}

.wel-table-title{
    margin: 10px;
    font-size: 25px;
    display: block;
    font-weight: bolder;
    color: rgb(115, 0, 150);;
}

.welcome-icons{
    font-size: 60px;
    border-radius: 100%;
    background-color: rgb(115, 0, 150);
    color: white;
    margin: auto;
    padding: 15px 25px;
}

.welcome-icons:hover{
    background-color: yellow;
    color: black;
}
.wel-table-para{
    display: block;
}
.wel-table-btn{
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 5% 30%;
    background-color: yellow;
}
.wel-table-btn:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(115, 0, 150);;
}




/* projects css start */
#project{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.project-sub-container{
    display: grid;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    margin: 30px 10px;
    background-color: blueviolet;
    padding: 5px 5px;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-sub-container img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    height: 150px;
    border: solid 2px white;
}
.project-title{
    margin: 10px;
    font-size: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;

}
.project-para{
    font-weight: lighter;
    margin: 5px;
    color: white;
}
.project-btn{
    border-radius: 5px;
    font-weight: bold;
    background-color: white;
    color: black;
    margin: 5% 10%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-btn:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
}
/* project css end */

/* pricing table */
#pricing-table{
    text-align: center;
    padding-bottom: 50px;
}

.price-mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.price-grid{
    display: grid;
    text-align: center;
    justify-content: space-between;
    margin: 30px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-grid:hover{
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.19);
}

.plan-name{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    margin: 5px;
}
.plan-price{
    font-size: 20px;
    font-weight: bold;
    color: rgba(211, 205, 205, 0.753);
    margin: 5px;
}    
.plan-data{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 2px;  
}
.plan-btn{
    font-size: 20px;
    background-color: yellow;
    font-weight: bolder;
    margin: 10px auto;
    padding: 5px 30px;
    border-radius: 4px;
}
.plan-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
/* pricing table end  */

/* video-project start */
#video-project{
    text-align: center;
    background-color: blueviolet;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.video-main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video-box{
    justify-content: space-between;
    display: grid;
    border: solid 2px white;
    margin: 10px;
    background-color: darkgoldenrod;
}

.video-box:hover{
    
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
}
.video-title{

    font-size: large;
    font-weight: bold;
    margin: 5px;
}
/* video-project end */

/* team start  */
#team-container{
    text-align: center;
    justify-items: center;
}

.team-box{
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member{
    display: grid;
    margin: 30px;
}
.curve-image{
    width: 160px;
    height: 160px;
    border: solid 2px blueviolet;
    border-radius: 100%;
    position: relative;
    overflow: hidden;

}
.team-member img{
    width: 160px;
}


.team-member a{
    font-size: 30px;
    font-weight: bolder;
}
.team-position{
    margin: 10px;
    font-size: large;
    color: gray;
    font-weight: bold;
}

.overlay-team{
    background-color: rgba(137, 43, 226, 0.507);
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.overlay-team img{
    margin: 3px;
    justify-content: space-around;
    height: 40px;
    width: auto;    
}

.overlay-team:hover{
    opacity: 1;
}

/* team end */


/* gallery start  */
#gallery-container{
    box-sizing: border-box;
    text-align: center;
}

.gallery-box {
    margin: 10px auto;
    width: 70%;
    position: relative;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);

  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/* gallery end  */

/* news letter start*/
#newsletter{
    padding: 20px;
    text-align: center;
    background-color: brown;
}
.newsletter-1{
    margin: 50px;
    display: flex;
    justify-content: center;
}
.newsletter-2{
    display: flex;
    height: 40px;
    width: 350px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
    border: solid 3pt blueviolet;
}
.mail-btn{
    width: 140px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: yellow;
    color: black;
    padding: 5px;
}
.mail-box{
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
}
.newsletter-2:hover{
    width: 800px;    
}
.mail-btn:hover{
    cursor: pointer;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
}
/* news letter end */

/* blog start  */
#blog{
    text-align: center;
    padding: 20px;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}
.blog-box{
    margin: 20px;
    display: grid;
    width: 200px;
}
.blog-box:hover{
    border: solid 2px blueviolet;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
}
.blog-box img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.news-title{
    font-size: 20px;
    font-weight: bolder;
    margin: 4px;
}
.blog-date{
    font-size: 20px;
    margin: 4px;
    font-weight: bold;
    color: grey;
}
.news-material{
    margin: 4px;
}

.blog-btn{
    background-color: rgb(211, 209, 209);
    padding: 10px 0px;
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}
.blog-btn:hover{
    cursor: pointer;
    background-color: yellow;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
}
/* blog end */

/* contact start */
#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}
.contact-container{
    width: 100%;
    display: grid;
    grid-template-columns: 50%  50%;

}
.map{
    display: grid;
    background-color: aqua;
}

.contact{
    display: grid;
    background-color: yellow;
}
.box-form{
    margin: 10px;
}
.form-name{
    font-size: 20px;
}
.form-box{
    height: 30px;
    border: solid 3px blueviolet;
}
.form-box-msg{
    height: 50px;
    border: solid 3px blueviolet;
}
.form-btn{
    background-color: blueviolet;
    width: fit-content;
    font-weight: bold;
    padding: 5px 70px;
    margin: 30px 10px;
    color: white;
}
.form-btn:hover{
    cursor: pointer;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(0, 0, 0, 0.19);
}
/* contact end */

/* footer start */

.footer-main{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-box{
    display: grid;
    width: 200px;
    text-align: center;
    margin: 20px;
}
.footer-title{
    color: blueviolet;
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
}
.social-icons img{
    margin: 5px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
}
/* footer end */